<div class="row">
  <div class="col-xs-12">
    <h2>Add A List</h2>
    <form>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="listname">List Name</label>
          <input
            type="text"
            id="listname"
            class="form-control"
            #listNameInput
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-success" type="submit" (click)="doAdd()">New List</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ul class="list-group">
    <a *ngFor="let list of shoppingLists" class="list-group-item" style="cursor:pointer;" [routerLink]="list.getId()"
    >
      {{ list.getName() }} ({{getItemCount(list.getId())}})
    </a>

</ul>
